#title{
  font-size:25px;
  font-family: fantasy;
  background-color: #ffff00;
 }

#start{
  font-size:25px;
  font-family:sans-serif;
  background-color: #00ff00;
}

#inputs {
  background-color:
}

#Aries {
  background-color: #ff4000;
  height: 25x;
  width: 95px
}

#Taurus {
  background-color: #8000ff;
  height: 25x;
  width: 95px
}

#Gemini {
  background-color: #0080ff;
  height: 25x;
  width: 90px
}

#Cancer {
  background-color: #C40C40;
  height: 25x;
  width: 90px
}

#Leo {
  background-color: #66d9ff;
  height: 25x;
  width: 90px
}

#Virgo {
  background-color: #6666FF;
  height: 25x;
  width: 90px
}

#Libra {
  background-color: #26acd9;
  height: 25x;
  width: 90px
}

#Scorpio {
  background-color: #9679FF;
  height: 25x;
  width: 90px
}

#sagittarius {
  background-color: #C25C7B;
  height: 25x;
  width: 90px
}

#Capricorn {
  background-color: #CCFF33;
  height: 25x;
  width: 90px
}

#Aquarius {
  background-color: #29FF85;
  height: 25x;
  width: 90px
}
#Pisces {
  background-color: #f442a1;
  height: 25x;
  width: 90px
}
