.boxed {border: 3px solid green; background-color: yellow; margin-top: 25px;}

#title{
  font-size:25px;
  font-family: fantasy;
  background-color: #ffff00;
 }

#start{
  font-size:25px;
  font-family:sans-serif;
  background-color: #00ff00;
}

#inputs {
  background-color:
}

.sign {
  font-size: 20px;
  text-decoration: undeline;
}

#Aries {
  background-color: #ff4000;
  height: 25x;
  width: 95px
}

#Taurus {
  background-color: #8000ff;
  height: 25x;
  width: 95px
}

#Gemini {
  background-color: #0080ff;
  height: 25x;
  width: 90px
}

#Cancer {
  background-color: #C40C40;
  height: 25x;
  width: 90px
}

#Leo {
  background-color: #66d9ff;
  height: 25x;
  width: 90px
}

#Virgo {
  background-color: #6666FF;
  height: 25x;
  width: 90px
}

#Libra {
  background-color: #26acd9;
  height: 25x;
  width: 90px
}

#Scorpio {
  background-color: #9679FF;
  height: 25x;
  width: 90px
}

#sagittarius {
  background-color: #C25C7B;
  height: 25x;
  width: 90px
}

#Capricorn {
  background-color: #CCFF33;
  height: 25x;
  width: 90px
}

#Aquarius {
  background-color: #29FF85;
  height: 25x;
  width: 90px
}
#Pisces {
  background-color: #f442a1;
  height: 25x;
  width: 90px
}
.container.row.col-xs-4{
text-align: center;
}

p {
  font-size: 17px;
}

#z00 {
  height: 270px;
  background-color: #B8C9CF;
}

#z01 {
  height: 270px;
  background-color: #999CF0;
}

#z02 {
  height: 270px;
  background-color: #bb87ed;
}

#z03 {
  height: 270px;
  background-color: #379147;
}

#z04 {
  height: 270px;
  background-color: #918737;
}

#z05 {
  height: 270px;
  background-color: #B3F2D0;
}

#z06 {
  height: 270px;
  background-color: #F2B3D5;
}

#z07 {
  height: 270px;
  background-color: #82F980;
}

#z08 {
  height: 270px;
  background-color: #ffff66;
}

#z09 {
  height: 270px;
  background-color: #ff66ff;
}

#z10 {
  height: 270px;
  background-color: #3399ff;
}

#z11 {
  height: 260px;
  background-color: #99ff33;
}
