#title{
  font-size:25px;
  font-family: fantasy;
  background-color: #ffff00;
 }

#start{
    font-size:25px;
    font-family:sans-serif;
    background-color: #00ff00;

}


#button01 {
 background-color: #ff4000;

}

#button02 {
 background-color: #8000ff;

}

#button03 {
 background-color: #0080ff;

}

#button04 {
 background-color: #C40C40;

}

#button05 {
 background-color: #66d9ff;

}

#button06 {
 background-color: #6666FF;

}

#button07 {
 background-color: #26acd9;

}

#button08 {
 background-color: #9679FF;

}

#button09 {
 background-color: #C25C7B;

}

#button10 {
 background-color: #CCFF33;

}

#button11 {
 background-color: #29FF85;

}
#button12 {
 background-color: #CCFF33;
